{

"youtube": {
  "apiKey": "AIza**************************vIL2E",
  "channelId": "UCn*******************TQ"
},
"fb": {
  "accessToken": "Your*******************oken"
},

"twitter": {
"bearerToken" : "AAAAAAAA*******************ITj2ubdA",
"consumerKey" : "ksf*******************Qf7",
"consumerSecret": "fZVj6A*******************2rH",
"accessToken" : "2323*******************SrSS",
"accessTokenSecret" : "ifMP5*******************FTT"
},
"igdb": {
  "clientId": "9op*******************l3l",
  "clientSecret": "re*******************ag6f2fk0"
}

}